---
---

@import "octicons.css";
@import "octicons.css";
@import "_bootstrap.scss";

table{
	@extend .table;
	@extend .table-striped;
	@extend .table-bordered;
}

@mixin octicon-link($char){
	font: normal normal 1em octicons;
	text-decoration: none;
	color: $brand-primary;

	&:after{
		content: $char;
		margin-left: 5px;
	}
}

.col-content, .col-toc{
	transition: padding 300ms, opacity 200ms;
}

.col-toc{
	position: fixed;
	width: 250px;
	right: -250px;
	right: 0;
	opacity: 0;
}

.shift-left{
	&.col-content{
		padding-right: 250px;
	}

	&.col-toc{
		right: 0;
		opacity: 1;
	}
}

#toc-toggle{
	position: fixed;
	top: 1em;
	right: 1em;
	padding: 0;
	margin: 0;
	z-index:1000;
}

.toc-toggle-check{
	visibility: hidden;
	width: 0;
	height: 0;

	& + .toc-toggle-label{
		color: $gray-darker;
		opacity: .3;

		.toc-header{
			margin-left: 1em;
			display: none;
		}
	}

	&:checked + .toc-toggle-label{
		opacity: 1;
		// right: 16.66667%;

		.toc-header{
			display: inline;
		}
	}
}

#toc-wrapper{
	opacity: .5;
	transition: all 200ms;
	&:hover{
		opacity: 1;
	}
}

#toc{
	margin-top: 3em;
	right: 15px;

	.nav{
		// text-align: right;

		li{

			a{
				padding: .33em;
				margin: 0;

				&:hover{
					background: none;
				}
			}

			&.active{

				a{
					// box-shadow: 0 .95em 0 1px red;
					color: $gray-darker;
				}
			}
		}
	}
}


.fade-out{
	background: none !important;
	margin-left: 100%;
	position: fixed;
	left: -35px !important;

	.octicon{
		font-size: 14px !important;
	}

	&.timer-wrapper{
		background-color: none !important;
	}

	.timer{
		margin: 0 0 !important;
	}

	.timer-toggle{
		padding-left: 0px !important;
		opacity: .3;
		text-align: left !important;
	}

	.timer-amount{
		visibility: hidden;
	}
}

.display-controls{
	border-top: solid 2px $gray-lighter;
	margin-top: 5px;
	padding-top: 10px;
}



.timer-check{
	visibility: hidden;
	height: 0;
	width: 0;

	&:checked + label{
		color: $brand-primary;

		&:before{
			content: '\f046';
			color: rgba($gray-lighter, 1);
			background-color: $gray-light;
			box-shadow: 0 0 0 1px $gray-light;
			padding-left: 0px;
			line-height: 14px;
		}
	}
}
.timer-label{
	line-height: 14px;
	padding-left: 18px;

	&:before{
		content: '\f046';
		font: normal normal normal 16px/1 octicons;
		text-align: center;
		position: absolute;
		left: 0;
		display: inline-block;
		border-radius: 50%;
		color: rgba($gray-light, 0);
		-webkit-transition: all 180ms;
		width: 14px;
		height: 14px;
		box-shadow: 0 0 0 1px $gray-light;
	}
}

.slide-only-check{
	visibility: hidden;
	height: 0;
	width: 0;

	&:checked + label{
		color: $gray-light;

		&:before{
			content: '\f03a';
			color: rgba($gray-lighter, 1);
			background-color: $gray-light;
			box-shadow: 0 0 0 1px $gray-light;
			padding-left: 0px;
			line-height: 1em;
		}
	}
}
.slides-only-label{
	line-height: 14px;
	padding-left: 18px;

	&:before{
		content: '\f03a';
		font: normal normal normal 16px/1 octicons;
		text-align: center;
		position: absolute;
		left: 0;
		display: inline-block;
		border-radius: 50%;
		color: rgba($gray-light, 0);
		-webkit-transition: all 180ms;
		padding-left: 5px;
		width: 14px;
		height: 14px;
		box-shadow: 0 0 0 1px $gray-light;
		line-height: .2em;
	}
}

.timer-wrapper{
	background: rgba(255,255,255,.93);
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;

	.timer{
		transition: all 300ms;
		position: relative;
		margin: 10% auto;
		border-radius: 10px;
		height: 150px;
		width: 150px;
		display: block;
		text-align: center;

		.timer-toggle{
			width: 100%;
			border-top-left-radius: 5px;
			border-bottom-left-radius: 5px;
			text-align: center;
		}

		.timer-content{
			text-align: center;
		}

		.time-left{
			font-size: 72px;
			display: block;
		}
	}
}

.deck{
	position: relative;
	font-size: 16px;
	color: $gray-lighter;

	padding-left: 0;
	padding-right: 0;

	.mega-octicon{
		font-size: 600%;
	}

	#teacher-avatar{
		img{
			height: 300px;
			width: 300px;
		}
	}

	.teacher-name{
		color: $brand-primary;
		font-size: 300%;
	}

	#teacher-username,#teacher-email, #teacher-organization, #teacher-location{
		margin: auto .75em;
		opacity: .6;
	}

	.teacher-badges{
		margin: 1em 0;
		opacity: .5;
	}


	.slide{
		width: 100%;
		display: table;

		background: #1e325f; /* Old browsers */
		background: -moz-linear-gradient(top,  #1e325f 0%, #1e325f 19%, #543e6e 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e325f), color-stop(19%,#1e325f), color-stop(100%,#543e6e)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #1e325f 0%,#1e325f 19%,#543e6e 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #1e325f 0%,#1e325f 19%,#543e6e 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #1e325f 0%,#1e325f 19%,#543e6e 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #1e325f 0%,#1e325f 19%,#543e6e 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e325f', endColorstr='#543e6e',GradientType=0 ); /* IE6-9 */


		h1{
			// background: rgba($gray-lighter, .2);
			// font-size: 600%;
			padding: .5em;
			margin-bottom: 2em;
			text-align: left;

			&:before{
				content: '\f00a';
				font: normal normal 700px octicons;
				margin-left: -1.15em;
				margin-top: -.4em;
				position: absolute;
				opacity: .2;
				right: -300px;
				// top: 0;
			}
		}

		h2{
			background: rgba($gray-lighter, .1);
			font-size: 400%;
			padding: .65em;
			margin-bottom: 2em;
			text-align: center;

			&:before{
				content: '\f008';
				font: normal normal 200% octicons;
				margin-left: -1.15em;
				margin-top: -.25em;
				position: absolute;
			}
		}

		h3{
			font-size: 350%;
			text-align: center;
			margin-bottom: 2em;
		}


		h2,h3,h4,h5{
			// text-align: center;
			// font-size: 400%;
		}

		p,ul,ol,pre,svg{
			margin-left: 0;
			margin-right: 0;
			padding: 0 4em;
		}

		pre{
			code{
				font-size: 1.5em;
			}
		}

		ul,ol{
			display: block;
			text-align: left;
		}

		.lab{
			text-align: left;
			ul, ol{
					display: block;
			}
		}

		.alignment{
			// padding: 5%;
			display: table-cell;
			vertical-align: middle;

			// text-align: center;

			// & > ul{
			// 	font-size: 250%;
			// }
		}
	}

	/* General external link */
	a[href^="http://"],
	a[href^="https://"] {
		@include octicon-link("\f0b6");
	}

	/* GitHub Links */
	a[href^="https://github.com"],
	a[href^="https://www.github.com"],
	a[href^="https://help.github.com"]
	{
		@include octicon-link("\f008");
	}

	/* GitHub Book Links, Guide Links */
	a[href^="http://git-scm.com/book"],
	a[href^="https://guides.github.com"]
	{
		@include octicon-link("\f007");
	}

	/* YouTube Links */
	a[href^="https://youtube.com"],
	a[href^="https://www.youtube.com"] {
		@include octicon-link("\f0b9");
	}

	.summary, .outline, .details{
		h2:before{
			padding: 5px;
			color: #CCCCCC;
			content: "\f078";
			font: normal normal 20px octicons;
		}
	}
}




.affix-top{

}

.affix{

}

.affix-bottom{
}
